
/* Variables
================================================================================ */


/* Fonts
------------------------------------ */

$muli-font-stack: 'Muli', sans-serif;



/* Colors
------------------------------------ */

$main-color: #1dbb3e;

$title-color: #161616;
$text-color: #606060;
